* {
  margin: 0;
  padding: 0;
  box-sizing:content-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: #222;
}

.logo {
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #00adb5;
}

.hero {
  min-height: 100vh;          /* FULL SCREEN HEIGHT */
  width: 100vw;               /* FULL SCREEN WIDTH */
  background: linear-gradient(to right, #00adb5, #393e46);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.hero h1 {
  font-size: 3rem;
}

.hero p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.btn {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  background-color: #fff;
  color: #00adb5;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

/* Sections */
.section {
  padding: 80px 60px;
  text-align: center;
}

.section h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

/* Skills */
.skills {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.skills span {
  background-color: #00adb5;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}

/* Projects */
.projects {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Contact */
.contact {
  background-color: #222;
  color: white;
}

/* Footer */
.footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 15px;
}
